.container {
  width: 100%
}

.card-item {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .card-item {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .card-item {
    width: 33.33%;
  }
}

@media screen and (min-width: 1300px) {
  .card-item {
    width: 25%;
  }
}